
.clock {
    border-radius: 50%;
}

#frame {
    background-color: #006699;
    height: 50%;
    width: 45%;
    z-index: 1;
}

#border {
    width: 100%;
    height: 100%;
    border: 5px solid #FF9933;
    z-index: 0;
    box-sizing: border-box;
}


@-webkit-keyframes rotate-cw {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}


@-webkit-keyframes rotate-ccw {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-359deg); }
}

.background {
    background-color: #006699;
    border-radius: 50%;
}

.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 160px;
    height: 160px;
}

.circle_animation {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
}

